<div class=" my-4">
    <form>
        <div class=" mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Nombre</label>
        </div>
        <div class=" mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Apellido</label>
        </div>
        <div class="mb-3">
            <button class="btn btn-outline-secondary" type="button" id="button-addon1">Enviar</button>
            <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
        </div>
    </form>
</div>